/*impostazioni generali*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital@0;1&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #191919;
  font-family: "Roboto", serif;
}
/*headings*/
.headings {
  display: flex;
  align-items: center;
  padding-inline: 5rem;
}
/*header*/

header {
  background-color: #ffc017;
}
/*NAVBAR*/
nav {
  display: flex;
  border-bottom: 1px solid black;
  padding-inline: 5rem;
  padding-block: 1rem;
  font-weight: 400;
  font-size: 0.7rem;
}

nav img {
  width: 110px;
  margin-right: 40%;
}
.top_nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

nav button {
  color: white;
  background-color: #191919;
  border-radius: 15px;
  cursor: pointer;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Roboto", serif;
  border: none;
}

/*titolo e paragrafo centrale dell'header*/

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 5rem;
  text-align: left;
  font-family: "Roboto", "serif";
  border: 1px solid black;
}
.top h1 {
  font-family: "Spectral", "serif";
  font-size: 4.5rem;
  letter-spacing: -4px;
  font-weight: 400;
  margin-top: 3rem;
}
.top h2 {
  padding-block: 1.2rem;
  font-weight: 400;
  font-size: 1rem;
}
.top button {
  color: white;
  background-color: #191919;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.4rem;
  border: none;
  margin-bottom: 3rem;
  font-size: 0.8rem;
}
/*main section*/
.biggest_container {
  display: flex;
  gap: 5rem;
}
main .headings {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.6rem;
  letter-spacing: 1.3px;
}

.headings img {
  margin-right: 0.6rem;
}
.star {
  display: flex;
  align-items: center;
}
.star img {
  padding-top: 0.5rem;
  width: 25px;
  padding-left: 0.5rem;
}
/*container_cards section*/
.container-cards {
  border-bottom: 1px solid #00000017;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 5rem;
  justify-content: space-between;
  padding-bottom: 3rem;
}
/*cards sezione hero*/

.card {
  display: flex;
  gap: 10px;
  text-align: left;
  flex-grow: 1;
  width: 29%;
  padding-top: 1.3rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img img {
  width: 20px;
}
#special_img {
  border-radius: 50%;
}
.card-content h3 {
  font-size: 0.7rem;
  font-weight: 800;
}
.card-img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.card-img > img {
  border-radius: 2px;
}
.card > p {
  font-size: 1.5rem;
  color: #19191924;
  font-weight: 900;
}

.card span {
  font-size: 0.6rem;
  font-weight: 700;
}
.card-content p {
  font-size: 0.7rem;
  color: #191919b0;
  padding-top: 0.5rem;
}
/*sezione articoli*/
.articles {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
  text-align: left;
  width: 49%;
}

/*singoli articoli*/
article {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: flex-end;
}

.imgs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.imgs img + img {
  width: 150px;
  margin-left: 10px;
}
.author_article {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.author_article img {
  width: 20px;
  border-radius: 50%;
  border: 0.4px solid #0000001c;
}
.article_recap {
  flex-grow: 21;
}
.article_recap h2 {
  font-weight: 900;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.article_recap p {
  font-size: 0.8rem;
  color: #1919199c;
}
.article_recap h5 {
  font-size: 0.6rem;
  color: #1919199c;
}
/*sezione finale dell'articolo */

.article_footer {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
}

.article_footer span {
  margin-inline: 3px;
  padding: 0.3rem;
  background-color: rgb(0 0 0 / 4%);
  border-radius: 10px;
}
/*footer section*/

footer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
}
footer h6 {
  font-size: 0.6rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.buttons_footer {
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid #0000001a;
}
.buttons_footer button {
  margin-right: 8px;
  margin-bottom: 10px;
  padding-block: 6px;
  padding-inline: 12px;
  border: 1px solid #19191924;
  background-color: transparent;
  font-size: 0.7rem;
  color: #191919a6;
}
.links_footer {
  margin-top: 1.3rem;
  text-align: left;
}
.links_footer a {
  text-decoration: none;
  padding-right: 1.5rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: #19191985;
}
